name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  promote:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v4

      - name: Release info
        run: |
          echo "Releasing ${{ github.ref_name }}"
